@import '../../../styles/variables';
#overlink {
    color: $lochmara-blue;
}

.stk-style {
    fill: $corPrimaria;
}

.mb-full {
    display: flex;
    align-items: center;
    height: 100%;

    .title-aplication {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        cursor: pointer;

        span {
            margin-left: -50px;
            position: relative;

            .selo-beta {
                position: absolute;
                top: 0;
                right: -51px;
                font-size: 10px;
                font-family: $font-primary-medium, Arial, Verdana;
                color: $corPrimaria;
                border: 1px solid $corPrimaria;
                border-radius: 16px;
                padding: 2px 10px;
                margin-left: 6px;
            }
        }
    }

    .btn-mobile {
        height: 50px;
        width: 50px;
        color: $corPrimaria !important;
        flex: 0 0 50px;
        border: none;
        background: none;
    }
}

ul.navbar {
    /* @extend #LEFT, #NO-MARGIN, #NO-PADDING;
    margin-left: 41px; */
    background-color: white;

    li a {
        @extend #SHOW;
        padding: 0 15%;
        font-family: sentico_medium, Arial, Verdana;
        font-size: $golden-ratio-16;
        color: $cod-gray;
        background-color: white;

        &:hover {
            @extend #overlink;
        }
    }

    li a.active {
        @extend #overlink;
    }
}

.administrador-panel {
    display: flex;

    .administrador-name {
        font-family: $font-primary-medium, Arial, Verdana;
        font-size: 16px;
        color: $cod-gray;
        padding-right: 25px;
        margin-right: 25px;
        border-right: 1px solid $line-gray;
    }
    .administrador-exit button {
        border: none;
        background: none;
        font-family: $font-primary-medium, Arial, Verdana;
        font-size: 16px;
        color: $corPrimaria;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }
    .administrador-exit button:hover {
        color: $regal-blue;
    }
}

@media only screen and (max-width: 768px) {
    .administrador-panel {
        display: none;
    }

    .mb-full .administrador-pill-mobile {
        color: #ffffff;
        background-color: $apple;
        border-radius: 16px;
        font-size: 10px;
        font-family: $font-primary-medium, sans-serif;
        padding: 6px 0;
        width: 22px;
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    .mb-full,
    .hide-on-desktop {
        display: none;
    }
}

.svg-style {
    fill: none;
    stroke: $corPrimaria;
}

.pssize {
    width: 300px;
}

.pssizeadmin {
    width: 350px;
}
.ps {
    position: relative;
    height: 60px;

    .menu-desktop,
    .profile {
        position: absolute;
    }
    .menu-desktop {
        z-index: 10;
        right: 0;
    }
    .profile {
        z-index: 11;
        right: -10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: #fff;

        li.administrador-pill-desktop {
            margin-right: 16px;
            color: #ffffff;
            background-color: $apple;
            border-radius: 16px;
            font-size: 10px;
            font-family: $font-primary-medium, sans-serif;
            padding: 6px 16px;
            display: block;
        }
    }

    ul.profile {
        width: 100%;
        height: 100%;

        li {
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            z-index: 1;

            a {
                svg {
                    margin-right: 10px;
                }

                .txt-name {
                    font-size: $golden-ratio-16;
                    color: $cod-gray;
                    font-family: sentico_medium, Arial, Verdana;
                    margin-right: 10px;
                }

                .drop-trigger-open,
                .drop-trigger-close {
                    width: 16px;
                    height: 16px;
                    transform: rotate(0deg);
                    transition: all ease-in-out 0.2s;
                }
                .drop-trigger-close {
                    transform: rotate(180deg);
                    transition: all ease-in-out 0.2s;
                }
            }
        }
    }
}
.bgwhite {
    background-color: white;
    cursor: pointer;
}
.settings-hide {
    display: none;
}

.settingslink {
    color: $corPrimaria !important;
}

a.settingslink:link {
    color: $corPrimaria !important;
}

.settings {
    @extend #ABSOLUTE;
    right: 0;
    top: 50px;
    z-index: 1;

    > li {
        @extend #RIGHT;
        background-color: white;
        min-width: 140px;
        padding: 10px 0;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 0.5);
        -moz-box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 0.5);
        box-shadow: 0px 3px 5px 0px rgba(148, 148, 148, 0.5);

        a {
            width: $percentage;
            height: 40px;
            line-height: 40px;
            font-size: $golden-ratio-16;
            font-family: sentico_sansregular, Arial, Verdana;
            color: $corPrimaria;
            padding: 0 10px;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: $break-middle) {
    .ps {
        display: none;
    }
}
